<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jutixueyuan.mapper.UserMapper">

<!--    查询的登录  -->
    <select id="login" resultType="User">
        select * from t_sysuser where username = #{username} and password = #{password}
    </select>

<!--    判断用户名是否存在  -->
    <select id="checkName" parameterType="string" resultType="User">
        select * from t_sysuser where username = #{username}
    </select>

    <insert id="addUser" parameterType="User">

        insert into t_sysuser(id,username,password,realname,
        phone,email,qq,img,regtime) values (default ,#{username},
        #{password},#{realname},#{phone},#{email},#{qq},#{img},#{regtime})

    </insert>

<!--    查询所有 -->
    <select id="queryAll" resultType="User">
        select * from t_sysuser
    </select>

<!--    删除操作 -->
    <delete id="delStu" parameterType="integer">
        delete from t_sysuser where id = #{id}
    </delete>

<!--    通过id 查询user-->
    <select id="findUserById" parameterType="integer" resultType="User">
        select * from t_sysuser where id = #{id}
    </select>

    <update id="updateUser" parameterType="User">

        update t_sysuser set
            username = #{username},
            realname = #{realname},
            phone = #{phone},
            email = #{email},
            qq = #{qq},
            img = #{img},
            regtime = #{regtime}
        where id = #{id}

    </update>

<!--    分页的sql -->
    <select id="pageUser" resultType="User">
        select * from t_sysuser limit #{index},#{pageSize}
    </select>


<!--    查询总数 -->
    <select id="selectCount" resultType="integer">
        select count(*) from t_sysuser
    </select>

</mapper>