<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jutixueyuan.mapper.UserMapper">

<!--    查询的登录  -->
    <select id="login" resultType="User">
        select * from t_sysuser where username = #{username} and password = #{password}
    </select>

<!--    判断用户名是否存在  -->
    <select id="checkName" parameterType="string" resultType="User">
        select * from t_sysuser where username = #{username}
    </select>

    <insert id="addUser" parameterType="User">

        insert into t_sysuser(id,username,password,realname,
        phone,email,qq,img,regtime) values (default ,#{username},
        #{password},#{realname},#{phone},#{email},#{qq},#{img},#{regtime})

    </insert>

</mapper>